<br>
<br>
<br>
<h1>Welcome to Suppervisor Control Page</h1>
<br>
<br>
<br>
<table>
  <% @users.each do |user|%>
    <% @course = user.courses.attending_courses.first %>
    <tr>
      <td><%= user.name %></td>
      <td>
        <% if @course %>
          <%=  link_to @course.name, suppervisor_course_path(@course) %>
        <% else %>
          <%=  link_to "Add user to course", suppervisor_courses_path %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>