<h1>Listing subjects</h1>
  <tbody>
    <% @subjects.each do |subject| %>
      <strong>Subject Name:</strong> <%= subject.name %><br>
      <strong>Description:</strong><%= subject.description %><br>
      <%= link_to "Show", subject %><br><br>
    <% end %>
  </tbody>