<h1>Subjects Infomation</h1>
<strong>Subject Name: </strong><%= @subject.name %>
<br>
<strong>Description: </strong> <%= @subject.description %>
<br><br>

<strong>List of tasks</strong>
<% @tasks.each do |task| %>
  <br><strong>Task Name: </strong><%= task.name %><br>
<% end %>